#paineis-sobre {
    margin-top: 20px;
}

html, body {
    height: 100%;
    background-color: #e2ecfd;
}

.tituloEmpresa:hover {
    color: #0020ff;
}

header {
    background-image: url(img/castelo.jpg);
    background-size: cover;
    background-position: top center;
    height: 100%;
    position: relative;
}

header h1 {
    margin-top: 0;
}

.nav-link:hover {
    background-color: #81abf1;
    color: #000000 !important;
}

.nav-link:active {
    background-color: transparent;
    color: #032194 !important;
}

.topCasaFiba-banner {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    width: 80%;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
}

.titulo-depoimentos {
    background-color: #0275D8;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #ffffff;
    margin-bottom: 0;
    font-size: 24px;
}

.thumbnail {
    border-radius: 1rem;
    box-shadow: 4px 5px 15px #919090;
}

.grupo-radio, .contato-select {
    width: 50% !important;
    display: inline-block !important;
    vertical-align: top !important;
}

.grupo-radio .radio:first-child {
    margin-top: 0 !important;
}

footer {
    background-color: #010131;
    color: #ffffff !important;
    padding: 20px;
    margin-top: 1rem;
}

footer address:last-child {
    margin-bottom: 0;
}

@media(min-width: 768px) {
    #paineis-sobre {
        margin-top: 0;
    }
}

@media(min-width: 992px) {
    .topCasaFiba {
        left: 0;
        transform: translate(0%, -80%);
        width: 50%;
    }
    .topCasaDina-bannerWrapper {
        position: relative;
        height: 100%;
    }
}
